<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <coverage>
    <report>
      <clover outputFile="report/coverage.xml"/>
      <html outputDirectory="report/html" lowUpperBound="35" highLowerBound="80"/>
      <text outputFile="coverage.txt" showUncoveredFiles="true" showOnlySummary="false"/>
    </report>
  </coverage>
  <logging/>
</phpunit>
